mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		.container
			+e.row.row
				.col-lg-5.col-xl-6
					+e.img-wrap
						.img-wrap-center
							+img('img/prod-card-img-1.png')
				.col-lg-7.col-xl-6
					h1 Cтанция радиационного контроля Застава-1
					+e.city-row.row
						.col-auto
							span.active Ритм
						.col-auto
							span Новокузнецк
					+e.tags.row
						.col-auto
							+e.tag(href="#") Оборудование
						.col-auto
							+e.tag(href="#") Электроника
						.col-auto
							+e.tag(href="#") Электроника 
						.col-auto
							+e.tag(href="#") Инженерное_дело
						.col-auto
							+e.tag(href="#") Электроника 
						.col-auto
							+e.tag(href="#") Преобразователь
						.col-auto
							+e.tag(href="#") Оборудование
						.col-auto
							+e.tag(href="#") Электроника 
						.col-auto
							+e.tag(href="#") Инженерное_дело
					+e.btn.btn.btn-primary(href='#') Перейти на сайт производителя
					h5 ООО &laquo;ПМТиК&raquo; предлагает автоматизированную установку для измерения магнитокалорического эффекта и&nbsp;других магнитных свойств материалов.
					h6 Установка включает в&nbsp;себя:
					ul
						li регулируемый генератор магнитного поля на&nbsp;основе постоянных магнитов;
						li азотный криостат;
						li набор измерительных вставок;
						li комплекс автоматического сбора данных, управляемый компьютером.
					h6 Установка имеет следующие рабочие характеристики:
					ul
						li регулируемыйпределы изменения магнитного поля: от &minus;1.85 до&nbsp;+1.85&nbsp;Tл
						li частота изменения магнитного поля: от&nbsp;0.1 до&nbsp;1.8&nbsp;Гц (скорость изменения магнитного поля от&nbsp;0,05 до&nbsp;6&nbsp;Тл/с)
						li минимальное магнитное поле в&nbsp;рабочем зазоре&nbsp;&mdash; 0.02&nbsp;Tл
						li размеры области магнитного поля с&nbsp;однородностью не&nbsp;хуже 1&nbsp;%&nbsp;&mdash; диаметр 20&nbsp;мм, длина 20&nbsp;мм
						li рабочий интервал температур: от&nbsp;80&nbsp;до&nbsp;365&nbsp;К
						li возможность работы в&nbsp;автоматическом и&nbsp;ручном режимах.
					+e.text Магнитокалорическим эффектом (МКЭ) называется изменение температуры и&nbsp;магнитной части энтропии материала при его намагничивании или размагничивании внешним магнитным полем. Магнитокалорический эффект наблюдается в&nbsp;любом магнитном материале и&nbsp;может быть использован для создания высокоэффективного магнитного холодильника в&nbsp;котором рабочим телом является магнитный материал
	// end sProductCard