
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-signIn"  style="display: none" )
		+b.modal-win--sign-in
			+form-wrap
				+e.row.row
					.col-12
						+e.title.form-data.h4 Войти на сайт
					.col-12
						+input("Text", 'text', 'Ваш логин', 'text', 'true')(required)
					.col-12
						+input("Text", 'text', 'Пароль', 'text', 'true')(required)
					.col-lg-6
						+e.BUTTON.btn.btn.btn-primary(type="submit" )  Войти
					.col-lg-6.text-center
						+e.forget-btn.btn(href='#')  Забыли пароль?
					.col-lg-12
						+e.btn.btn.btn-outline-primary(href='#') Войти через Leader-ID
					.col-lg-12
						+e.btn--secondary.btn.btn-primary(href='#') Зарегистрироваться
	// #modal-call
	
	// end modals