
	// start .sContact
	.sContact {
	--sPT: #{rem(4)};
	--sPB: #{rem(52)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(107)};
	}
	&__row{
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	&__head {
		max-width: rem(465);
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(56);
		}
		p {
			line-height: 1.5em;
			color: $gray-800;
			margin-bottom: rem(10);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(18);
			}
		}
	}
	&__bottom {
		background-color: $gray-100;
		border-radius: 8px;
		padding: rem(18);
		@include media-breakpoint-up(lg) {
			padding: rem(24);
		}
		h5 {
			font-weight: 600;
			line-height: 1.4em;
			margin-bottom: rem(18);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(51);
			}
		}
	}
	&__link {
		span {
			font-size: rem(14);
			line-height: 1.5em;
			color: $gray-700;
			margin-bottom: rem(12);
			display: inline-block;
		}
		a {
			font-weight: 700;
			font-size: rem(20);
			line-height: 1.2em;
			display: block;
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
	}
	&__email {
		span {
			font-weight: 600;
			font-size: rem(16);
			line-height: 1.5em;
			margin-bottom: rem(8);
			color: $gray-700;
			display: inline-block;
		}
		a {
			display: block;
			font-weight: 600;
			font-size: rem(20);
			line-height: 1.4em;
		}
	}
	.call-back {
		.form-wrap {
			textarea {
				min-height: rem(110.5);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact