mixin sAllProjects(threeInRow)
	// start sAllProjects
	+b.SECTION.sAllProjects.section#sAllProjects&attributes(attributes)
		.container
			+e.row.row
				block
				.col-12.text-center
					+e.btn.btn.btn-outline-primary(href="#") Показать еще
	// end sAllProjects