@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-arrow-right {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-calendar {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-calendar2 {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-calendar3 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-down {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-chevron-right {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-children {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-close {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-conversation {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-document {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-done {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-dots {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-email {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-facebook {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-headerBlock-icon-1 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-headerBlock-icon-2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-info-1 {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-info-2 {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-inst {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-list {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-mail {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-messenger {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-ok {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-pencil {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-pin {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-play {
	font-size:math.div(22,10)*1rem;
	width: math.div(19,22)*1em;
}
.icon-plus {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-search {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-star-filled {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-star-half-filled {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-telegram {
	font-size:math.div(32,10)*1rem;
	width: math.div(32,32)*1em;
}
.icon-telescope {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-tg {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-travelMap {
	font-size:math.div(40,10)*1rem;
	width: math.div(40,40)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-youtube {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
