mixin sEventContent(data)
	// start sEventContent
	+b.SECTION.sEventContent.section#sEventContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7
					+b.sContent
						h3 О мероприятии
						h5 Цель мероприятия:
						p В&nbsp;рамках проведения Десятилетия науки и&nbsp;технологий в&nbsp;России в&nbsp;2022 году в&nbsp;Ямало-Ненецком автономном округе и&nbsp;Камчатском крае пройдут мероприятия&nbsp;&mdash; спутники Конгресса молодых ученых. Целью &laquo;спутников&raquo; станет обеспечение решения задач регионов с&nbsp;помощью российского научного сообщества через организацию дискуссии по&nbsp;актуальной R&amp;D повестке региона.
						p Расходы участников на&nbsp;проезд и&nbsp;проживание на&nbsp;период проведения мероприятия покрываются организатором
						h5 Задачи мероприятия
						ul
							li Повышение осведомленности представителей региональных правительств и&nbsp;бизнеса о&nbsp;деятельности российского научного сообщества и&nbsp;стимулирование их&nbsp;взаимодействия;
							li Повышение интереса российского научного сообщества к&nbsp;проведению практически ориентированных исследований для решения общественно значимых задач.
						h5 Программа мероприятия
						p В&nbsp;рамках мероприятия участники представляют свои предложения по&nbsp;решению задач региона на&nbsp;основе собственных проведенных исследований и&nbsp;разработок, участвуют в&nbsp;проектных сессиях совместно с&nbsp;другими участниками и&nbsp;представителями региона, а&nbsp;также совершают выезды на&nbsp;объекты региональной инфраструктуры. 
							span По&nbsp;итогам мероприятия экспертам может быть предложено дальнейшее сотрудничество с&nbsp;регионом и&nbsp;финансовая поддержка.
						h5 Регистрация:
						p Для участия в&nbsp;мероприятии требуется выбрать одно из&nbsp;направлений и&nbsp;подать заявку в&nbsp;свободной форме с&nbsp;указанием ссылок на&nbsp;Ваши публикации или патенты, релевантные выбранному направлению, а&nbsp;также указать ФИО участника/ов, полное название организации, город и&nbsp;контакты для обратной связи.
						p Заявки отправляются на&nbsp;адрес: congress@korsovet.ru с&nbsp;темой письма &laquo;Мероприятие-спутник_ЯНАО&raquo;. Заявки, присланные без темы письма, к&nbsp;рассмотрению не&nbsp;принимаются.
						p: strong Срок подачи заявок продлён до&nbsp;9&nbsp;августа 2022&nbsp;года, 23:59
				.col-lg
					+e.wrap 
						h4 Место проведения
						+e.block
							span Адрес
							p Институт экономики РАН, Нахимовский проспект 32, Москва
						+e.block
							span Номер телефона
							a.mb-0(href="tel:+79859988899") +7 985 998 88 99
						+e.map
							#map
					+e.wrap
						h4 Контакты
						+e.block
							span Организатор
							p Правительство Ямало-Ненецкого автономного округа
						+e.block
							span Организатор
							p Правительство Ямало-Ненецкого автономного округа
						+e.block
							span Номер телефона
							a(href="tel:+79859988899") +7 985 998 88 99
						+e.block
							span E-mail
							+e.email(href="mailto:sciencetourism@korsovet.ru") sciencetourism@korsovet.ru
					+e.wrap
						h4 Регистрация на мероприятие
						+in-c('checkbox', ``)
							+e.SPAN.text Согласен с условиями <br>#[a(href="#") пользовательского соглашения].
						+in-c('checkbox', `Согласен с политикой обработки персональных данных и Ознакомлен с политикой конфиденциальности`)
						+e.btn.btn.btn-primary(href="#") Зарегистрироваться
	// end sEventContent