mixin item(title, text, link, date, text2, isShare)
	+e.row.row
		.col-lg-4
			span!= date
			h5!= title
		.col-lg-8
			if text
				p!= text
				if text2
					p Если известно, то&nbsp;зафиксировать вид и&nbsp;сорт фотографируемой рябины. После загрузки фотографий и&nbsp;введения текстовой информации волонтер нажимает кнопку &laquo;Отправить&raquo;. Вся информация аккумулируется на&nbsp;интернет-ресурсе и&nbsp;становится доступной на&nbsp;официальном сайте проекта всем участникам проекта, а&nbsp;также руководителю проекта.Будет разработана система рейтинга волонтеров проекта. Материалы проекта могут быть востребованы волонтерами в&nbsp;качестве материалов для написания ими курсовых и&nbsp;дипломных работ. Руководителем проекта планируется написание научных статей для журналов в&nbsp;соавторстве с&nbsp;наиболее активными волонтерами
			if link
				+e.link-wrap
					+e.link(href="#")!= link
					if isShare
						.ya-share2(data-curtain='' data-shape='round' data-services='vkontakte,odnoklassniki')
mixin sDetailed(isSlider)
	// start sDetailed
	+b.SECTION.sDetailed.section#sDetailed&attributes(attributes)
		.container
			+item('Регион и продолжительность', 'Республика Крым. С&nbsp;8&nbsp;августа по&nbsp;26&nbsp;сениября 2022')
			+item('Цель проекта', 'Проведение мониторинга распространения рода Рябина на&nbsp;различных территориях Российской Федерации, а&nbsp;также формирование набора фотоизображений растений рода Рябина для их&nbsp;последующего использования исследователям. Для участия в&nbsp;проекте необходима регистрация на&nbsp;платформе &laquo;Волонтёр-натуралист&raquo;.')
			+item('На кого рассчитан тур', 'Перед началом проведения исследования волонтер должен установить на&nbsp;свой смартфон мобильное приложение Volnatur. Проходит регистрацию как волонтер, выбирает из&nbsp;размещенных проектов &quot;Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном')
			if isSlider
				+e.title
					h3 Фото тура
					+arrow()
				+e.slider.sDefaultSlider__slider--js.swiper
					.swiper-wrapper
						-for(let i = 0; i < 4; i++)
							+e.slide.swiper-slide
								+img('img/sContent-img-1.jpg', 'bg')
							+e.slide.swiper-slide
								+img('img/sContent-img-2.jpg', 'bg')
			+e.H3.headline Программа тура
			+item('Симферополь – Алушта – Ялта', 'Перед началом проведения исследования волонтер должен установить на&nbsp;свой смартфон мобильное приложение Volnatur. Проходит регистрацию как волонтер, выбирает из&nbsp;размещенных проектов &laquo;Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении&raquo;, нажимает кнопку &quot;Участвовать в&nbsp;проекте&quot;.Необходимо сделать фото&nbsp;&mdash; растения, листа, цветов (соцветия и&nbsp;отдельно цветка), плодов (соплодия и&nbsp;отдельной ягоды), отдельно и&nbsp;крупным планом с&nbsp;хорошим разрешением. Кратко описать место произрастания&nbsp;&mdash; наименование населенного пункта, сад, городская среда, парк и&nbsp;т.п., особенности освещенности, почвы и&nbsp;др. интересные с&nbsp;точки зрения волонтера характеристики.', '', '1 день.')
			+item('Ливадийский парк – Ялта', 'Сбор в&nbsp;г. Симферополе, переезд в&nbsp;г. Алушту. Экскурсия в&nbsp;Крымский природный заповедник. Особо охраняемая природная территория. Национальный парк является крупнейшим заповедником в&nbsp;Крыму. Площадь', '', '2 день.')
			+item('Ливадийский парк – Ялта', 'Сбор в&nbsp;г. Симферополе, переезд в&nbsp;г. Алушту. Экскурсия в&nbsp;Крымский природный заповедник. Особо охраняемая природная территория. Национальный парк является крупнейшим заповедником в&nbsp;Крыму. Площадь Крымского природного заповедника составляет более 44000&nbsp;га, а&nbsp;его границы простираются от&nbsp;Алушты до&nbsp;Ялты.Переезд в&nbsp;г. Ялту', '', '1 день.')
	// end sDetailed

mixin sDetailed2(isSlider)
	// start sDetailed
	+b.SECTION.sDetailed.section#sDetailed&attributes(attributes)
		.container
			+item('Кто может учавствовать', 'Проведение мониторинга распространения рода Рябина на&nbsp;различных территориях Российской Федерации, а&nbsp;также формирование набора фотоизображений растений рода Рябина для их&nbsp;последующего использования исследователям.Для участия в&nbsp;проекте необходима регистрация на&nbsp;платформе &laquo;Волонтёр-натуралист&raquo;.')
			+item('Что нужно для участия', 'Перед началом проведения исследования волонтер должен установить на&nbsp;свой смартфон мобильное приложение Volnatur. Проходит регистрацию как волонтер, выбирает из&nbsp;размещенных проектов &quot;Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном')
			+item('Начало проекта', '', '18 января 2023 года')
			+item('О проекте', 'Перед началом проведения исследования волонтер должен установить на&nbsp;свой смартфон мобильное приложение Volnatur. Проходит регистрацию как волонтер, выбирает из&nbsp;размещенных проектов &laquo;Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении&raquo;, нажимает кнопку &quot;Участвовать в&nbsp;проекте&laquo;.Необходимо сделать фото&nbsp;&mdash; растения, листа, цветов (соцветия и&nbsp;отдельно цветка), плодов (соплодия и&nbsp;отдельной ягоды), отдельно и&nbsp;крупным планом с&nbsp;хорошим разрешением. Кратко описать место произрастания&nbsp;&mdash; наименование населенного пункта, сад, городская среда, парк и&nbsp;т.п., особенности освещенности, почвы и&nbsp;др. интересные с&nbsp;точки зрения волонтера характеристики.', '', '', 'true')
			+item('Сайт и соц.сети проекта', '', 'Projectvolounterr.ru', '', '', 'true')