mixin sUsers(inRow)
	// start sUsers
	+b.SECTION.sUsers.section#sUsers&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xl-3
					+filter()
						+e.head-search
							+search('Найти пользователя')
						+ddGroup()
							+ddGroupItem('Область знаний', '', '', 'active')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Тип фильтра', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Тип', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Фильтр', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Вызов', 5, 'true', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Научная степень', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
						+e.btns-row.row
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Есть публикациии
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Есть патенты
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Есть участие в проектах
				.col-lg-8.col-xl-9
						mixin user(i, title, text, bgColor, col, id="ID 18100-106899")
							+e.user&attributes(attributes)
								.row
									.col-auto
										+e.img-wrap
											+e.withoout-image(style=`--bgColor: ${bgColor};`) ли
											if i
												+img(`img/avatar-img-${i}.jpg`, 'bg')
									.col
										+e.id!= id
										.h5!= title
										p!= text
									div(class=(col=="col" ? "col" : "col-md-auto"))
										+e.btn.btn.btn-outline-primary(href="#") Написать
						if inRow
							+e.wrap
								+user(1, 'Петрова Эдита Ярославовна', 'Заведующий научно-исследовательской лабораторией медицинской кибернетики и&nbsp;управления в&nbsp;здравоохранении')
								+user(2, 'Владимиров Харитон Федосеевич', 'Научный сотрудник')
								+user('', 'Любчанский Игорь Валентинович', 'Руководитель проекта', '#4FAC74')
								+user(3, 'Горбачёва Ярослава Лукьяновна', 'Заведующий, профессор')
								+user('', 'Любчанский Игорь Валентинович', 'Первый заместитель Исполнительного директора по проектной и информационной деятельности', '#AC4F87')
								+user(4, 'Пахомов Август Андреевич', 'Заместитель директора по научной работе')
								+user('', 'Любчанский Игорь Валентинович', 'Директор по направлению "Формирование исследовательских компетенций и технологических заделов"', '#4F74AC')
								+user(5, 'Гусев Арнольд Тимофеевич', 'Научный сотрудник')
								+user(6, 'Горшкова Милолика Тарасовна', 'Заместитель директора по научной работе')
								+user(7, 'Селезнёв Лев Егорович', 'Заведующий, профессор')
								+user(8, 'Зимина Асида Никитевна', 'Заведующий научно-исследовательской лабораторией медицинской кибернетики и управления в здравоохранении')
						else 
							+e.column-row.row
								-for(let i = 0; i < 12; i++)
									.col-sm-6.col-xl-4
										+user(1, 'Петрова Эдита Ярославовна', 'Заведующий научно-исследовательской лабораторией медицинской кибернетики и&nbsp;управления в&nbsp;здравоохранении', '', 'col').--column
						+e.show.btn.btn-outline-primary(href="#") Показать еще
	// end sUsers
