mixin sDefaultSlider(title, btn, select, notSlider)
	// start sDefaultSlider
	+b.SECTION.sDefaultSlider.section&attributes(attributes)
		.container
			+b.section-title
				h3!= title
				if select
					+e.filter-btn.btn.btn-primary Фильтр
					+e.filter-wrap
						+e.select-row
							+input('Выберите город', 'select')
							+input('Тематика', 'select')
							+input('Даты проведения', 'select')
			if notSlider 
				block
			else
				+e.slider--js.swiper
					.swiper-wrapper
						block
					+e.control-wrap
						+e.row.row.align-items-center
							.col
								+e.btn.btn.btn-outline-primary(href='#')!= btn
							.col-auto.d-flex
								+arrow
	// end sDefaultSlider