mixin sJobs(data)
	// start sJobs
	+b.SECTION.sJobs.section#sJobs&attributes(attributes)
		.container
			+e.search-wrap
				+search()
			+e.row.row
				.col-lg-4.col-xl-3
					+filter()
						+e.row.row
							.col
								.h4 Фильтр
							.col-auto
								+e.reset(href='#') Сбросить все
						+ddGroup()
							+ddGroupItem('Область знаний', '', '', 'active')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Тип фильтра', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Тип', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Фильтр', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Вызов', 5, 'true', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Научная степень', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
						+e.btn-row.row
							.col-6.col-lg-12.col-xxl-6
								+e.btn.btn.btn-primary(href='#') Показать (25)
							.col-6.col-lg-12.col-xxl-6
								+e.btn--outline.btn.btn-outline-primary(href='#') Сбросить все
				.col-lg-8.col-xl-9
					+e.wrap
						mixin item(title, label='Педагогические науки', price='100 000 Р', company='Science-ID', city='Город Санкт-Петербург')
							+e.item(href="#")
								.row
									.col-auto
										+e.label!= label
									.col-auto.ms-auto
										+e.price.h5!= price
								+e.title.h5!= title
								.row
									.col-auto
										p!= company
									.col-auto
										p!= city
						+item('Tutor/ Tutorin')
						+item('Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)')
						+item('Английский друг по&nbsp;телефону для студентов (удаленно)')
						+item('Tutor/ Tutorin')
						+item('Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)')
						+item('Английский друг по&nbsp;телефону для студентов (удаленно)')
						+item('Tutor/ Tutorin')
						+item('Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)')
						+item('Английский друг по&nbsp;телефону для студентов (удаленно)')
	// end sJobs