mixin sPolls()
	// start sPolls
	+b.SECTION.sPolls.section#sPolls&attributes(attributes)
		.container
			+e.row.row
				.col-lg-8
					mixin item(data)
						+e.item(style=`--bgColor: ${data.bgColor}`)
							h3!= data.title
							+e.wrap
								each text in data.texts
									p!= text
								if data.link
									+e.link(href="#")!= data.link
							+e.inner-row.row
								.col-sm-auto
									- let value = '';
									- if (data.disabled == "Опрос пройден" ? value = "Опрос пройден" : value = "Пройти опрос")
									+e.btn-outline.btn.btn-outline-light(href='#' class=(data.disabled == "Опрос пройден" ? 'disabled' : ''))= value
								.col-sm
									+e.end Окончание опроса: 06.07.2022
								if data.disabled == "Опрос пройден"
									.col-sm-auto
										+e.btn-outline.btn.btn-outline-light(href='#') Пройти опрос
							block
					+e.item-wrap
						+item({
							bgColor: '#1972DB',
							title: 'Обратная связь по&nbsp;экскурсиям в&nbsp;рамках Х&nbsp;Всероссийского съезда Советов молодых ученых',
							texts: ['Уважаемые коллеги!', 'Мы&nbsp;рады, что вы&nbsp;приняли участие в&nbsp;экскурсионной программе Х&nbsp;Всероссийского съезда Советов молодых ученых. Нам важно услышать ваше мнение о&nbsp;посещенных экскурсиях, чтобы опереться на&nbsp;него при планировании программы будущего Съезда. Просим вас ответить на&nbsp;несколько вопросов ниже. Все ответы конфиденциальны и&nbsp;будут анализироваться в&nbsp;обобщенном виде.']
						})
							+img('img/sPolls-img-1.jpg')
						+item({
							bgColor: '#613DAD',
							title: 'Научно-популярный туризм в&nbsp;России',
							texts: ['С&nbsp;целью определения ключевых задач для развития научно-популярного туризма в&nbsp;России Минобрнауки России запускает опрос для студентов, аспирантов и&nbsp;молодых ученых, желающих путешествовать по&nbsp;России с&nbsp;пользой для науки!']
						})
						+item({
							bgColor: '#3D6AAD',
							title: 'Запускаем акцию!',
							texts: ['Современная наука не&nbsp;знает границ. Ее&nbsp;цель&nbsp;&mdash; поиск истины, знаний, которые, в&nbsp;конечном счете, помогают сделать наш мир лучше, работают на&nbsp;пользу всего человечества. Именно поэтому в&nbsp;науке так важны принципы равенства. Мы&nbsp;все служим одной миссии&nbsp;&mdash; все исследователи, вне зависимости от&nbsp;их&nbsp;цвета кожи, гендера, национальности, религиозных и&nbsp;других убеждений. Мы&nbsp;разные, но&nbsp;наш долг&nbsp;&mdash; находить общий язык друг с&nbsp;другом ради общего блага.'],
							link: 'Читать полностью...'
						})
						+item({
							bgColor: '#47779A',
							title: 'Анкета участника Всероссийской школы СНО',
							texts: ['Мы&nbsp;рады, что вы&nbsp;приняли участие во&nbsp;Всероссийской школе СНО. Для нас очень важно услышать ваши впечатления о&nbsp;мероприятии, чтобы учесть их&nbsp;при планировании и&nbsp;проведении подобных событий в&nbsp;будущем. Пожалуйста, заполните небольшую анкету.', 'Ответы конфиденциальны. Заполнение анкеты займет не&nbsp;более 5&nbsp;минут.'],
							disabled: "Опрос пройден"
						})
				.col-lg-4
					+e.participate
						h5 Вы&nbsp;можете участвовать в&nbsp;текущих опросах или создавать собственные.
						p Для создания своего опроса, пожалуйста, напишите нам соответствующий запрос с&nbsp;описанием и&nbsp;вопросами
						+e.btn.btn.btn-primary(href="#") Обратная связь
	// end sPolls