mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.bg-wrap
				+img('img/sAbout-bg-1.jpg', 'bg').picture-bg
				h1.h2 SCIENCE ID — объединяя российских ученых
				p Цель проекта&nbsp;&mdash; создать систему эффективной коммуникации ученых
			+e.wrap
				+e.row.row
					.col-lg-6.text-center
						+img('img/sAbout-img-1.png').res-i
					.col-lg-6
						+e.content
							+e.text #[a(href="#") Регистрируясь] на&nbsp;портале Science&nbsp;ID, пользователь формирует личный цифровой профиль ученого, предоставляющий ряд специальных возможностей. Прежде всего, это возможность сформировать свое профессиональное резюме, включающее в&nbsp;себя данные об&nbsp;образовании, области научных интересов, месте работы (с&nbsp;указанием должности), публикационную активность и&nbsp;наукометрические показатели. Благодаря интеграции Science ID&nbsp;со Scopus и&nbsp;Elibrary данные обновляются автоматически.
				+e.row.row
					.col-lg-6.text-center
						+img('img/sAbout-img-1.png').res-i
					.col-lg-6
						+e.content
							+e.text Цифровой профиль ученого на&nbsp;портале Science ID&nbsp;открывает доступ к&nbsp;сервису научных мероприятий. В&nbsp;разделе #[a(href="#") &laquo;Мероприятия&raquo; ] размещена карта и&nbsp;план конференций с&nbsp;возможностью систематизации по&nbsp;региону, дате, области науки, большому вызову СНТР. Предусмотрена упрощенная регистрация на&nbsp;мероприятия и&nbsp;импорт в&nbsp;личный календарь. Сервис &laquo;Мероприятия&raquo; включает в&nbsp;себя функционал для организаторов мероприятий. Пользователь Science ID&nbsp;имеет возможность создать в&nbsp;календаре научных мероприятий страницу конференции, организатором которой он&nbsp;является&nbsp;и, после подтверждения полномочий, получить доступ к&nbsp;инструментам управления мероприятием
							+e.subtext индивидуально настраиваемые формы электронной регистрации, интерфейс просмотра статистики и&nbsp;списка зарегистрированных участников, возможность приема тезисов, функция выгрузки списка участников и&nbsp;другие опции
				+e.row.row
					.col-lg-6.text-center
						+img('img/sAbout-img-1.png').res-i
					.col-lg-6
						+e.content
							+e.text Следующая опция, доступная пользователям Science ID&nbsp;&mdash; #[a(href="#") Сервис вакансий.] Вакансии размещаются научными организациями, зарегистрированными в&nbsp;Science ID&nbsp;и&nbsp;импортируются с&nbsp;портала &laquo;ученые-исследователи.рф&raquo;. Предложения можно систематизировать по&nbsp;областям знаний, окладу, региону, ключевым словам, требованию к&nbsp;квалификации (наличие ученой степени).
				+e.row.row
					.col-lg-6.text-center
						+img('img/sAbout-img-1.png').res-i
					.col-lg-6
						+e.content
							+e.text На&nbsp;главной странице #[a(href="#") Science&nbsp;ID], а&nbsp;также в&nbsp;разделе #[a(href="#") Курс СНТР размещена ] информация о&nbsp;Больших вызовах и&nbsp;онлайн-курсе Стратегия научно-технологического развития Российской Федерации. Координационным советом по&nbsp;делам молодёжи в&nbsp;научной и&nbsp;образовательной сферах при Совете при Президенте РФ&nbsp;по&nbsp;науке и&nbsp;образованию совместно с&nbsp;Московским авиационным институтом разработан онлайн-курс, посвящённый Стратегии научно-технологического развития Российской Федерации. Узнать подробности о&nbsp;курсе, об&nbsp;авторах курса и&nbsp;посмотреть видео о&nbsp;Больших вызовах СНТР можно в&nbsp;разделе #[a(href="#") Курс СНТР], пройти онлайн-курс и&nbsp;получить сертификат можно на&nbsp;сайте курса #[a(href="#") http://online.mai.ru]
	// end sAbout