extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sCompetencies/_sCompetencies.pug

block variables
	- let  mainPage= null 
	- let  bg= '02-events.jpg'

block title
	- let  title= 'Мероприятия'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Мероприятия', 'true', 'Мероприятия')
		//- +sDefaultSlider('Мероприятия', 'Все мороприятия', true)
		//- 	+sliderItem('sliderItem-img-1.png', 'Первая летняя &laquo;Школа академического совершенства&raquo;', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		//- 	+sliderItem('sliderItem-img-2.png', 'IX&nbsp;Международный форум технологического развития ТЕХНОПРОМ-2022', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		//- 	+sliderItem('sliderItem-img-3.png', '1-я Международная научно-техническая конференция &laquo;Скоростной транспорт будущего: перспективы, проблемы, решения&raquo;', '28 - 29 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		//- 	+sliderItem('sliderItem-img-1.png', 'Первая летняя &laquo;Школа академического совершенства&raquo;', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		//- 	+sliderItem('sliderItem-img-2.png', 'IX&nbsp;Международный форум технологического развития ТЕХНОПРОМ-2022', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		//- 	+sliderItem('sliderItem-img-3.png', '1-я Международная научно-техническая конференция &laquo;Скоростной транспорт будущего: перспективы, проблемы, решения&raquo;', '28 - 29 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
	+footer()
