extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sForStaff/_sForStaff.pug
include ../blocks/sFastPassage/_sFastPassage.pug

block variables
	- let  mainPage= 'catalog-page'
	- let  bg= '04-events.jpg'

block title
	- let  title= 'Мероприятия'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Пользователи', '', 'Мероприятия')
	+footer()
