extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sEvents/_sEvents.pug
include ../blocks/sEventBanner/_sEventBanner.pug

block variables
	- let  mainPage= null 
	- let  bg= '04-events.jpg'

block title
	- let  title= 'Мероприятия'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Мероприятия', 'true', false, 'Мероприятия')
		+sEventBanner
		+sEvents()
	+footer()
