extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sJobs/_sJobs.pug

block variables
	- let  mainPage= null 
	- let  bg= '05-jobs.jpg'

block title
	- let  title= 'Вакансии'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Вакансии', 'true', false, '', 'Вакансии')
		+sJobs
	+footer()
