extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sGroups/_sGroups.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sAllProjects/_sAllProjects.pug

block variables
	- let  mainPage= ''
	- let  bg= '06-tourism.jpg'

block title
	- let  title= 'Туризм'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Все проекты туризма', '', '', 'true', 'Туризм')
		+sAllProjects
			.col-sm-6.col-lg-4
				+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
			.col-sm-6.col-lg-4
				+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
	+footer()
