extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sGroups/_sGroups.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sEventBanner/_sEventBanner.pug
include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sDetailed/_sDetailed.pug

block variables
	- let  mainPage= 'detailed-page'
	- let  bg= '06-tourism.jpg'

block title
	- let  title= 'Туризм'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('', '', '', '', 'Туризм', 'Все проекты', 'Мероприятие-спутник Конгресса молодых ученых в Ямало-Ненецком автономном округе')
		+sEventBanner3(3, 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;')
		+sDetailed('true')
			h3 Цель проекта
			p познакомить туристов с&nbsp;работой ученых на&nbsp;местах, своим примером доказывающих, что ботаника&nbsp;&mdash; это перспективно.Трехдневный тур по&nbsp;ведущим дендропаркам и&nbsp;ботаническим садам в&nbsp;сопровождении гидов-экскурсоводов, действующих ученых с&nbsp;посещением уникальных объектов научно-исследовательской инфраструктуры
			h3 Программа тура
			h5 1&nbsp;день. Симферополь&nbsp;&mdash; Алушта&nbsp;&mdash; Ялта
			p Сбор в г. Симферополе, переезд в г. Алушту. Экскурсия в Крымский природный заповедник. Особо охраняемая природная территория. Национальный парк является крупнейшим заповедником в Крыму. Площадь Крымского природного заповедника составляет более 44000 га, а его границы простираются от Алушты до Ялты.Переезд в г. Ялту
			+img('img/sContent-img-1.jpg').mb-32
			h5 2&nbsp;день. Ливадийский парк&nbsp;&mdash; Ялта
			p Сбор в&nbsp;г. Симферополе, переезд в&nbsp;г. Алушту. Экскурсия в&nbsp;Крымский природный заповедник. Особо охраняемая природная территория. Национальный парк является крупнейшим заповедником в&nbsp;Крыму. Площадь Крымского природного заповедника составляет более 44000&nbsp;га, а&nbsp;его границы простираются от&nbsp;Алушты до&nbsp;Ялты.Переезд в&nbsp;г. Ялту
			+img('img/sContent-img-2.jpg')
		+sDefaultSlider('Похожие мероприятия', '', '', 'true')
			+e.cards-row.row
				.col-sm-6.col-lg-4
					+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
		//- +sAllProjects('true')
		//- 	.col-sm-6.col-lg-4
		//- 		+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
		//- 	.col-sm-6.col-lg-4
		//- 		+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
		//- 	.col-sm-6.col-lg-4
		//- 		+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
	+footer()
block scripts
	<script src="https://yastatic.net/share2/share.js"></script>