extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sEventBanner/_sEventBanner.pug
include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sDetailed/_sDetailed.pug

block variables
	- let  mainPage= 'detailed-page'
	- let  bg= '06-tourism.jpg'

block title
	- let  title= 'Волонтерство'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('', '', '', '', 'Туризм', 'Все проекты', 'Мероприятие-спутник Конгресса молодых ученых в Ямало-Ненецком автономном округе')
		+sEventBanner3(4, 'Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении', 'true', '', '')
		+sDetailed()
			h3 Научная задача проекта
			p Проведение мониторинга распространения рода Рябина на&nbsp;различных территориях Российской Федерации, а&nbsp;также формирование набора фотоизображений растений рода Рябина для их&nbsp;последующего использования исследователям.Для участия в&nbsp;проекте необходима регистрация на&nbsp;платформе &laquo;Волонтёр-натуралист&raquo;. 
			p Перед началом проведения исследования волонтер должен установить на&nbsp;свой смартфон мобильное приложение Volnatur. Проходит регистрацию как волонтер, выбирает из&nbsp;размещенных проектов &laquo;Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении&raquo;, нажимает кнопку &quot;Участвовать в&nbsp;проекте&laquo;.Необходимо сделать фото&nbsp;&mdash; растения, листа, цветов (соцветия и&nbsp;отдельно цветка), плодов (соплодия и&nbsp;отдельной ягоды), отдельно и&nbsp;крупным планом с&nbsp;хорошим разрешением. Кратко описать место произрастания&nbsp;&mdash; наименование населенного пункта, сад, городская среда, парк и&nbsp;т.п., особенности освещенности, почвы и&nbsp;др. интересные с&nbsp;точки зрения волонтера характеристики.
			p Если известно, то&nbsp;зафиксировать вид и&nbsp;сорт фотографируемой рябины. После загрузки фотографий и&nbsp;введения текстовой информации волонтер нажимает кнопку &laquo;Отправить&raquo;. Вся информация аккумулируется на&nbsp;интернет-ресурсе и&nbsp;становится доступной на&nbsp;официальном сайте проекта всем участникам проекта, а&nbsp;также руководителю проекта.Будет разработана система рейтинга волонтеров проекта. Материалы проекта могут быть востребованы волонтерами в&nbsp;качестве материалов для написания ими курсовых и&nbsp;дипломных работ. Руководителем проекта планируется написание научных статей для журналов в&nbsp;соавторстве с&nbsp;наиболее активными волонтерами
			h3 О проекте
			//- +sliderItem('news-img-9.jpg', 'Научное волонтерство осенью - какое оно?', '14.05.2022', '', '', '', '', 'О&nbsp;значении исследования и&nbsp;полезных свойствах рябины рассказывает руководитель проекта, профессор РАН, советник Председателя Совета директоров ГК&nbsp;&laquo;ЭФКО&raquo; Екатерина Журавлева:').--in-row
			+sliderItem('news-img-1.jpg', 'Научное волонтерство осенью - какое оно?', '14.05.2022', '', 'Природа', '', '', 'О&nbsp;значении исследования и&nbsp;полезных свойствах рябины рассказывает руководитель проекта, профессор РАН, советник Председателя Совета директоров ГК&nbsp;&laquo;ЭФКО&raquo;...').news-item--second-variant.--in-row
		+sDefaultSlider('Похожие мероприятия', '', '', 'true')
			+e.cards-row.row
				.col-sm-6.col-lg-4
					+sliderItem('news-img-9.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-11.jpg', 'Красноярский край: посещение научных, промышленных и&nbsp;природных объектов', '', 'true', 'Вся Россия', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-10.jpg', 'Научные экспедиции на&nbsp;ледники юга Восточной Сибири', '', 'true', 'Вся Россия', '', '', 'Гляциологическая группа из&nbsp;институтов Иркутского филиала СО&nbsp;РАН имеет возможность принимать участников в&nbsp;состав научных экспедиций на&nbsp;современные ледники в&nbsp;горные')
	+footer()
block scripts
	<script src="https://yastatic.net/share2/share.js"></script>