extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sEventBanner/_sEventBanner.pug
include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sDetailed/_sDetailed.pug

block variables
	- let  mainPage= 'detailed-page'
	- let  bg= '06-tourism.jpg'

block title
	- let  title= 'Волонтерство'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('', '', '', '', 'Туризм', 'Все проекты', 'Мероприятие-спутник Конгресса молодых ученых в Ямало-Ненецком автономном округе')
		+sEventBanner3({
			bg: 'sEventBanner-bg-2.jpg',
			logo: {
				src: 'sEventBanner-img-6.jpg',
				bg: 'bg',
			},
			name: 'Владиславский<br>Александр Викторович',
			text: 'Управляющий директор<br>ООО Сэмплтехнологи',
			links: 'horizontal',
			title: 'Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении',
			btn: 'Подать заявку'
		})
		+sDetailed2()
		+sDefaultSlider('Похожие проекты', '', '', 'true')
			+e.cards-row.row
				.col-sm-6.col-lg-4
					+sliderItem('news-img-12.jpg', 'Ареал распространения растения актинидия', '', '', '', '', '', 'Проект системы &laquo;Волонтёр-натуралист&raquo; и&nbsp;Всероссийского детского центра &laquo;Океан&raquo;, презентованный на&nbsp;Восточном экономическом форуме-2022', 'Природа')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-13.jpg', 'Мониторинг распространения растений рода Рябина (Sorbus&nbsp;L.) в&nbsp;любительском и&nbsp;профессиональном садоводстве и&nbsp;озеленении', '', '', '', '', '', 'Проект системы &laquo;Волонтёр-натуралист&raquo;, направленный на&nbsp;проведение мониторинга', 'Экономика')
				.col-sm-6.col-lg-4
					+sliderItem('news-img-14.jpg', 'Маршрут &laquo;Сады и&nbsp;парки Крыма&raquo;', '', '', '', '', '', 'Ведущие ученые пригласили в&nbsp;свои лаборатории посетителей, показали, где и&nbsp;как проходят будни исследователей', 'Природа')
	+footer()
block scripts
	<script src="https://yastatic.net/share2/share.js"></script>