extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sNews/_sNews.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'news-page'
	- let  bg= '11-groups.jpg'

block title
	- let  title= 'Новости'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Новости', '', 'true', '', 'Новости')
		+sNews(true)
	+footer()
