extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sCompetenciesBlock/_sCompetenciesBlock.pug
include ../blocks/sCompetencies/_sCompetencies.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'competencies-page'
	- let  bg= '11-groups.jpg'

block title
	- let  title= 'Компетенции'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('', '', '', '', 'Компетенции')
		+sCompetencies2
		+sCompetenciesBlock
	+footer()