extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sPolls/_sPolls.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= ''
	- let  bg= '13-polls.jpg'

block title
	- let  title= 'Опросы'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Опросы', '', '', '', 'Опросы')
		+sPolls
	+footer()
