extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sAbout/_sAbout.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'about-page'
	- let  bg= '14-about.jpg'

block title
	- let  title= 'О проекте'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('', '', '', '', 'О проекте')
		+sAbout
	+footer()
