extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= ''
	- let  bg= '16-contacts.jpg'

block title
	- let  title= 'Контакты'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head('Контакты', '', '', '', 'Контакты')
		+sContact
	+footer()
