extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sMainInfo/_sMainInfo.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'cabinet-page-2'
	- let  bg= '16-contacts.jpg'

block title
	- let  title= 'Настройки профиля'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head(title, '', '', '', 'Личный кабинет', 'Настройки профиля')
		+sMainInfo(true)
			+e.cabinet-main-wrapper
				h3 Настройки конфиденциальности
				mixin switcher(text)
					label.form-check.form-switch
						input.form-check-input(type='checkbox' role='switch')&attributes(attributes)
						span.form-check-label!= text
				+e.inner-row.row
					.col-12
						h5 Отображение информации в публичном доступе
						+e.switcher-row.row
							.col-12
								+switcher('Отображать раздел Карьера')(checked)
							.col-12
								+switcher('Отображать раздел Образование')
							.col-12
								+switcher('Отображать раздел Участие в мероприятиях')
							.col-12
								+switcher('Отображать раздел Публикации')
							.col-12
								+switcher('Отображать раздел Участие в проектах, конкурсах, грантах')
							.col-12
								+switcher('Отображать раздел Патенты')
							.col-12
								+switcher('Участие в НИР и ОКР')
					.col-12
						h5 Отображение информации в публичном доступе
						+e.switcher-row.row
							.col-12
								+switcher('Хочу, чтобы мой профиль индексировали поисковые системы')(checked) 
							.col-12
								+switcher('Получать информационные сообщения')(checked)
	+footer()
