extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sMainInfo/_sMainInfo.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'cabinet-page-2'
	- let  bg= '16-contacts.jpg'

block title
	- let  title= 'Настройки профиля'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head(title, '', '', '', 'Личный кабинет', 'Настройки профиля')
		+sMainInfo()
			.col-12
				+e.cabinet-main-wrapper
					h3 Области знания
					+e.tags-row.row
						mixin tag(text)
							.col-auto
								+e.tag!= text
									+e.cross
						+tag('29.03.45  Обработка данных физического эксперимента')
						+tag('29.03.45  Структура твердых тел')
						+tag('29.03.45  Диэлектрики')
						+tag('29.03.45  Структура твердых тел')
						+tag('29.03.45  Структура твердых тел')
						+tag('29.03.45  Диэлектрики')
					+e.search-wrap 
						h5 Добавить область знания
						+search('Поиск по ключевым словам')
					+ddGroup()
						mixin content(t)
							+ddGroupItem(t)
								+e.wrap
									+in-c('checkbox', '04.01.07 Социология как наука')
									+in-c('checkbox', '04.01.13 Научные общества, съезды, конгрессы, конференции, симпозиумы, семинары, выставки по социологии')
									+in-c('checkbox', '04.01.17 Международное сотрудничество в области социологии')
									+in-c('checkbox', '04.01.21 Организация научно-исследовательской работы в социологии')
									+in-c('checkbox', '04.01.29 Информационная деятельность в области социологии')
									+in-c('checkbox', '04.01.39 Пропаганда и популяризация социологических знаний')
						+ddGroupItem('00&nbsp;ОБЩЕСТВЕННЫЕ НАУКИ В&nbsp;ЦЕЛОМ')
							+content('04.01 Общие вопросы социологии')
							+content('04.11 Общие проблемы современной социологии')
							+content('04.15 Методология социологии. Методика и техника социологических исследований')
							+content('04.21 Общество как система. Социальные отношения и процессы')
							+content('04.41 Социальные классы, общности и группы')
						+ddGroupItem('02 ФИЛОСОФИЯ')
							+content('04.01 Общие вопросы социологии')
							+content('04.11 Общие проблемы современной социологии')
							+content('04.15 Методология социологии. Методика и техника социологических исследований')
							+content('04.21 Общество как система. Социальные отношения и процессы')
							+content('04.41 Социальные классы, общности и группы')
						+ddGroupItem('03 ИСТОРИЯ. ИСТОРИЧЕСКИЕ НАУКИ')
							+content('04.01 Общие вопросы социологии')
							+content('04.11 Общие проблемы современной социологии')
							+content('04.15 Методология социологии. Методика и техника социологических исследований')
							+content('04.21 Общество как система. Социальные отношения и процессы')
							+content('04.41 Социальные классы, общности и группы')
						+ddGroupItem('04 СОЦИОЛОГИЯ')
							+content('04.01 Общие вопросы социологии')
							+content('04.11 Общие проблемы современной социологии')
							+content('04.15 Методология социологии. Методика и техника социологических исследований')
							+content('04.21 Общество как система. Социальные отношения и процессы')
							+content('04.41 Социальные классы, общности и группы')
	+footer()
