extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
 
include ../blocks/footer/_footer.pug

include ../blocks/sMainInfo/_sMainInfo.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'cabinet-page-2'
	- let  bg= '16-contacts.jpg'

block title
	- let  title= 'Мои мероприятия'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+page-head(title, '', '', '', 'Личный кабинет', 'Мои мероприятия')
		+sMainInfo()
			+e.cabinet-main-wrapper
	+footer()
