extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

include ../blocks/sDefaultSlider/_sDefaultSlider.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sCompetencies/_sCompetencies.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+headerBlock 
		+writeUsBanner
		+sDefaultSlider('Мероприятия', 'Все мороприятия', true)
			+sliderItem('sliderItem-img-1.png', 'Первая летняя &laquo;Школа академического совершенства&raquo;', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
			+sliderItem('sliderItem-img-2.png', 'IX&nbsp;Международный форум технологического развития ТЕХНОПРОМ-2022', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
			+sliderItem('sliderItem-img-3.png', '1-я Международная научно-техническая конференция &laquo;Скоростной транспорт будущего: перспективы, проблемы, решения&raquo;', '28 - 29 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
			+sliderItem('sliderItem-img-1.png', 'Первая летняя &laquo;Школа академического совершенства&raquo;', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
			+sliderItem('sliderItem-img-2.png', 'IX&nbsp;Международный форум технологического развития ТЕХНОПРОМ-2022', '15 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
			+sliderItem('sliderItem-img-3.png', '1-я Международная научно-техническая конференция &laquo;Скоростной транспорт будущего: перспективы, проблемы, решения&raquo;', '28 - 29 августа 2022', 'true', 'Санкт-Петербург', 'swiper-slide', 'Online', '', 'Тегмероприятия', 'Тег')
		+sBanners
		+sDefaultSlider('Научные вакансии', 'Все вакансии').sDefaultSlider--vacancies
			+vacanciesItem('Педагогические науки', '100 000 Р', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Город Санкт-Петербург')
			+vacanciesItem('Сельское хозяйство', '40 000 Р', 'Администратор в&nbsp;школу английского языка Sony English, Мурино', 'Город Москва')
			+vacanciesItem('Педагогические науки', '', 'Воспитатель', 'Город Москва')
			+vacanciesItem('Технические науки', '140 000 Р', 'Заведующий кафедрой информационных систем и&nbsp;технологий', 'Город Москва')
			+vacanciesItem('Педагогические науки', '100 000 Р', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Город Санкт-Петербург')
			+vacanciesItem('Сельское хозяйство', '40 000 Р', 'Администратор в&nbsp;школу английского языка Sony English, Мурино', 'Город Москва')
			+vacanciesItem('Педагогические науки', '', 'Воспитатель', 'Город Москва')
			+vacanciesItem('Технические науки', '140 000 Р', 'Заведующий кафедрой информационных систем и&nbsp;технологий', 'Город Москва')
		+sCompetencies()
		+sDefaultSlider('Новое в Нашей Лабе', 'Все товары').sDefaultSlider--new
			+labSlide('labSlide-img-1.png', 'Cтанция радиационного контроля Застава-1', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения (синусоидальной формы) до&nbsp;30&nbsp;В в&nbsp;силу тока до&nbsp;30&nbsp;А (соответственного постоянного и&nbsp;переменного) с&nbsp;коэффициентом преобразования', 'true')
			+labSlide('labSlide-img-2.png', 'Cтанция радиационного контроля Застава-1', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения')
			+labSlide('labSlide-img-3.png', 'Cтанция радиационного', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения (синусоидальной формы) до')
			+labSlide('labSlide-img-1.png', 'Cтанция радиационного контроля Застава-1', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения (синусоидальной формы) до&nbsp;30&nbsp;В в&nbsp;силу тока до&nbsp;30&nbsp;А (соответственного постоянного и&nbsp;переменного) с&nbsp;коэффициентом преобразования', 'true')
			+labSlide('labSlide-img-2.png', 'Cтанция радиационного контроля Застава-1', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения')
			+labSlide('labSlide-img-3.png', 'Cтанция радиационного', 'Преобразователь напряжение-ток Я9-44 обеспечивает преобразование постоянного и&nbsp;переменного напряжения (синусоидальной формы) до')
		+sDefaultSlider('Новости', 'Все новости').sDefaultSlider--news
			+sliderItem('news-img-1.jpg', 'Волонтер натуралист&nbsp;&mdash; как заинтересовать детей наукой?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
			+sliderItem('news-img-2.jpg', 'Всемирный день туризма. Как в&nbsp;России совместят приятное с&nbsp;полезным?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
			+sliderItem('news-img-3.jpg', 'Волонтер натуралист&nbsp;&mdash; как заинтересовать детей наукой?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
			+sliderItem('news-img-1.jpg', 'Волонтер натуралист&nbsp;&mdash; как заинтересовать детей наукой?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
			+sliderItem('news-img-2.jpg', 'Всемирный день туризма. Как в&nbsp;России совместят приятное с&nbsp;полезным?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
			+sliderItem('news-img-3.jpg', 'Волонтер натуралист&nbsp;&mdash; как заинтересовать детей наукой?', '14.05.2022', '', 'Разработки', 'swiper-slide', '', 'Академический координатор по&nbsp;работе с&nbsp;корпоративными клиентами (м. Павелецкая английский язык С1-С2)', 'Тег новости', 'Тегновый').news-item--second-variant
	+footer()
