mixin sGroups(data)
	// start sGroups
	+b.SECTION.sGroups.section#sGroups&attributes(attributes)
		.container
			+b.group-control
				.row
					.col-auto
						+e.btn.btn.btn-primary(href='#') Все группы
					.col-auto
						+e.btn--secondary.btn.btn-primary(href='#') Мои группы
					.col-auto.ms-sm-auto
						+e.create(href='#')
							+icon('plus')
							| Создать группу
			+e.row.row
				.col-lg-4.col-xl-3
					+filter()
						+e.head-search
							+search('Найти группу')
						+ddGroup()
							+ddGroupItem('Тип доступа', '', '', 'active')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
							+ddGroupItem('Вызовы', '', '', '')
								+search()
								+e.chekbox-wrap
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
									+in-c('checkbox', 'АНО Цифровые технологии')
									+in-c('checkbox', 'Рувентс')
									+in-c('checkbox', 'Наименование')
									+in-c('checkbox', 'НаукаСегодня')
									+in-c('checkbox', 'РБК')
									+in-c('checkbox', 'Сбер')
									+in-c('checkbox', 'Альфа')
									+in-c('checkbox', 'Ростелеком')
									+in-c('checkbox', 'Название компании')
						+e.btns-row.row
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Все группы
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Продовольствие
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Природа
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Экономика
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Энергетика
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Пространство
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Безопасность
							.col-auto
								+e.link.btn.btn-outline-primary(href="#") Демография
				.col-lg-8.col-xl-9
					mixin group(i, title, text, open, btn)
						+e.group&attributes(attributes)
							+e.group-row.row
								.col-12.col-md-auto
									+e.img-wrap
										+img(`img/sGroups-img-${i}.jpg`, 'bg')
								.col-12.col-md
									+e.tag-row.row
										.col-auto 
											if open
												+e.tag(style="--bgColor: rgba(81, 247, 67, 0.2);") Открытая группа
											else
												+e.tag(style="--bgColor: rgba(247, 78, 67, 0.2);") Закрытая группа
										.col-auto 
											+e.tag Тег новости
										.col-auto 
											+e.tag Тегновый
									a.h6(href="#")!= title
									p!= text
									+e.author
										| Автор группы:
										a(href="#")
											+img('img/person.jpg')
											| Юратина Александра
								.col-auto.col-lg-12.col-xl-auto
									+e.btn.btn.btn-primary(href="#" class=(btn=="Вы уже состоите" ? 'disabled' : ''))!= btn
					+e.wrap
						+group(1, 'Химическая и&nbsp;нефтехимическая промышленность России', 'DH-технологии, агробактериальная трансформация растений, микроклональное размножение растений и&nbsp;др. Подходы и&nbsp;методы, связанные с&nbsp;данной областью.', 'true', 'Вступить')
						+group(2, 'Химическая и&nbsp;нефтехимическая промышленность России', 'DH-технологии, агробактериальная трансформация растений, микроклональное размножение растений и&nbsp;др. Подходы и&nbsp;методы, связанные с&nbsp;данной областью.', '', 'Подать заявку')
						+group(3, 'Химическая и&nbsp;нефтехимическая промышленность России', 'DH-технологии, агробактериальная трансформация растений, микроклональное размножение растений и&nbsp;др. Подходы и&nbsp;методы, связанные с&nbsp;данной областью.', '', 'Вы уже состоите')
						+group(4, 'ФизХим КемГУ', 'Проекты', 'true', 'Вступить')
						+group(5, 'Лидеры России. Наука 2020', 'Группа создана для полуфиналистов, финалистов и&nbsp;победителей специалиазации &laquo;Наука&raquo; конкурса управленцев &laquo;Лидеры России&raquo;', 'true', 'Вступить')
						+group(6, 'Координационная группа проекта #Явнауке', 'Благодаря проекту &laquo;Я&nbsp;в&nbsp;науке&raquo; молодые ученые нашей страны могут рассказать о&nbsp;своих исследованиях, успехах, буднях научной работы, интересных фактах из&nbsp;жизни, увлечениях, людях или событиях, которые вдохновили прийти в&nbsp;науку, а&nbsp;еще поделится опытом по&nbsp;получению грантов, пу', '', 'Подать заявку')
					+e.show.btn.btn-outline-primary(href="#") Показать еще
	// end sGroups