//- mixin product-item(i, t, p ,pr)
//- 	+b.ARTICLE.product-item
//- 		+e.img-wrap(href="#")
//- 			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
//- 			.img-wrap-center 
//- 				+img(`img/prod-${i}.jpg`)
//- 		+e.caption
//- 			+e.title!= t
//- 			+e.text!= p
//- 			+e.price!= pr
//- 			+e.btn(href='#')
//- 	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container 
			+e.row.row
				.col-lg-3
					+filter()
						+e.row.row
							.col
								.h4 Фильтр
							.col-auto
								+e.reset(href='#') Сбросить все
						+ddGroup()
							+ddGroupItem('Компания', 5, 'true', 'active')
				.col-lg-9
	// end sCatalog