mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+e.link(href='#').text-center Войти
			+e.btn.btn.btn-primary(href='#').text-center Регистрация
	//  мобильное меню
mixin top-nav(isCabinet) 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+logo()
				.col.d-none.d-xl-block
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
					
				.col-auto.d-xl-none.order-last
					+menu-toggle()
				.col-auto.ms-auto
					if isCabinet
						+e.wrap
							+e.messenger-btn.btn.btn-primary(href="#")
								+e.num 123
								+icon('messenger')
							+e.cabinet-btn.btn.btn-primary
								+e.img-wrap
									+img('img/avatar-1.jpg')
								+icon('chevron-down')
								+e.cabinet-dropdown
									+e.info
										+img('img/avatar-1.jpg')
										+e.name
											.h5 Владиславский Арсен
											span 18118-100010
									+e.link-wrap
										a(href="#")
											+icon('user2')
											| Профиль
										a(href="#")
											+icon('settings')
											| Настройки
									+e.link-wrap
										a(href="#")
											+icon('calendar4')
											| Мои мероприятия
										a(href="#")
											+icon('building')
											| Мои СМУ и СНО
										a(href="#")
											+icon('users')
											| Мои Коллеги
									+e.log-out(href="#") Выйти
					else
						+e.wrap
							+e.link(href='#').d-none.d-xl-block Войти
							+e.btn.btn.btn-primary(href='#').d-none.d-xl-block Регистрация
							//- +e.search.btn.btn-primary(href='#'): +icon('search')
	// end top-nav