.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(15)};
		// --bs-gutter-y: var(--bs-gutter-x);
		
		align-items: center;
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(32)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(56)};
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		@include roww('16px', 'm');
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: 7px;
		}
	}
	&__link {
		font-size: rem(16);
		font-weight: 700;
		line-height: 1.5em;
	}
	&__btn {
		--bs-btn-padding-x: #{rem(24)};
		--bs-btn-padding-y: #{rem(7)};
		--bs-btn-font-size: #{rem(16)};
		--bs-btn-font-weight: 700;
		--bs-btn-line-height: 1.5em;
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}

		box-shadow: 0px 4px 8px rgba(67, 150, 247, 0.47);
		&:hover {
			box-shadow: none;
		}
	}
	&__search {
		--bs-btn-padding-x: #{rem(12)};
		--bs-btn-padding-y: #{rem(12)};
		--bs-btn-color: #{$primary};
		--bs-btn-bg: rgba(67, 150, 247, 0.2);
		--bs-btn-border-color: transparent;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #{$primary};
		--bs-btn-hover-border-color: #{$primary};
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #{$primary};
		--bs-btn-active-border-color: #{$primary};
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			font-size: rem(16);
		}
	}
	.logo {
		.text {
			max-width: 110px;
			margin-right: 3px;
			@include media-breakpoint-up(sm) {
				margin-right: rem(28);
				max-width: 148px;
			}
		}
		.img {
			max-width: 45px;
			@include media-breakpoint-up(sm) {
				max-width: 55px;
			}
		}
	}
	&__messenger-btn {
		--bs-btn-color: #{$primary};
    --bs-btn-bg: rgba(67, 150, 247, 0.2);
    --bs-btn-border-color: transparent;
		--bs-btn-padding-x: #{rem(12)};
    --bs-btn-padding-y: #{rem(12)};
		--bs-btn-line-height: 1;
		--bs-btn-font-size: 0;

		position: relative;
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: 0;
		}
		.icon {
			font-size: rem(16);
		}
	}
	&__num {
		position: absolute;
		background-color: #F74343;
		color: #fff;
		border-radius: 5px;
		font-size: 10px;
		font-weight: 700;
		line-height: 1;
		padding: 3px 3px 3px 3px;
    right: -7px;
    top: -2px;
	}
	&__cabinet-btn {
		position: relative;
		display: flex;
		align-items: center;
		--bs-btn-color: #{$primary};
    --bs-btn-bg: rgba(67, 150, 247, 0.2);
    --bs-btn-border-color: transparent;
		--bs-btn-line-height: 1;

		padding: 3px 6px 3px 3px;
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			stroke: currentColor;
			stroke-width: 2px;
			fill: none;
		}
		&.active {
			.top-nav__cabinet-dropdown {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	&__img-wrap {
		max-width: rem(34);
		border-radius: 8px;
		overflow: hidden;
		flex: 0 0 auto;
		margin-right: 6px;
	}
	&__cabinet-dropdown {
		@include mt;
		position: absolute;
		top: calc(100% + 10px);
		right: 0;
		padding: rem(32) rem(26) rem(24);
		background-color: #fff;
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
		z-index: 100;
		color: #000;
		text-align: left;
		opacity: 0;
		pointer-events: none;
		cursor: auto;
	}
	&__info {
		display: flex;
		align-items: flex-start;
		margin-bottom: rem(16);
		img {
			flex: 0 0 auto;
			max-width: rem(64);
			margin-right: rem(16);
			border-radius: 7px;
		}
	}
	&__name {
		.h5 {
			font-weight: 600;
			line-height: 1.4em;
			color: $gray-800;
			margin-bottom: rem(1);
		}
		span {
			font-size: rem(11);
			line-height: 1.5em;
			color: $gray-700;
		}
	}
	&__link-wrap {
		position: relative;
		padding-bottom: rem(10);
		margin-bottom: rem(10);
		&:after {
			content: '';
			position: absolute;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 100%;
			max-width: rem(266);
			height: 1px;
			background-color: #F0F5FA;
		}
		a {
			display: flex;
			align-items: center;
			font-size: rem(14);
			line-height: 1.5em;
			color: #1E1E2F;
			padding: rem(10) rem(6);
			&:hover, &.active {
				color: $primary;
			}
			.icon {
				color: $primary;
				fill: currentColor;
				stroke: none;
				stroke-width: 0;
				font-size: rem(16);
				flex: 0 0 auto;
				margin-right: rem(10);
			}
		}
	}
	&__log-out {
		font-size: rem(14);
		line-height: 1.5em;
		color: #9398A8;
		padding: rem(8) rem(6);
		&:hover {
			color: $danger;
		}
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


