 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	border: 1px solid $gray-400;
	border-radius: 8px;
	input{
		font-size: rem(15);
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(36);
		padding-right: rem(30);
		padding-top: rem(4.5);
		padding-bottom: rem(4.5);
		border-radius: 8px;
	}
	.icon{
		font-size: rem(14);
		border: none !important;
		color: $primary;
	}
	button{
		position: absolute;
		left: 4px;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
	&__delete-text {
		@include mt;
		cursor: pointer;
		position: absolute;
		color: $primary;
		right: 4px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		opacity: 0;
		&.active {
			pointer-events: all;
			opacity: 1;
		}
		.icon {
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 1px;
		}
	}
}

.page-head {
	padding-top: rem(16.500);
	padding-bottom: rem(26);
	&__row {
		--bs-gutter-y: #{rem(16)};

		align-items: center;
	}
	h1 {
		line-height: 1.2em;
		margin-bottom: 0;
		color: $gray-800;
	}
	&__calendar {
		display: flex;
		align-items: center;
		font-size: rem(16);
		font-weight: 600;
		line-height: 1.5em;
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			margin-right: rem(16);
		}
	}
	&__show-type {
		@include roww('16px', 'm');
		display: flex;
	}
	&__icon-wrap {
		@include mt;
		border: 1px solid $gray-400;
		color: $gray-400;
		background-color: #fff;
		border-radius: 8px;
		padding: rem(11);
		cursor: pointer;
		.icon {
			font-size: rem(24);
		}
		&.active, &:hover {
			border-color: $primary;
			color: $primary;
			background-color: rgba(67, 150, 247, 0.2);
		}
	}
	&__morecontrol-row {
		padding-top: rem(29);
	}
	&__input-wrap {
		max-width: rem(248);
	}
}

.breadcrumb {
	margin-bottom: rem(26) !important;
	flex-wrap: nowrap;
	&-item{
		width: auto;
		padding: 3px 8px;
		font-size: 10px;
		line-height: 1.5em;
		height: auto;
    display: flex;
    align-items: center;
		border-radius: 4px;
		background-color: #fff;
		& + .breadcrumb-item {
			margin-left: 4px;
			&::before {
				content: unset;
			}
		}
		&:not(.active) {
			border: 1px solid rgba(67, 150, 247, 0.2);
		}
		&.active {
			opacity: .5;
			a {
				color: $gray-700;
			}
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	.text {
		margin-right: rem(28);
		width: 100%;
		max-width: 148px;
	}
	.img {
		flex: 0 0 auto;
		width: 100%;
		max-width: 55px;
	}
}

.news-item {
	@include mt;
	max-width: rem(416);
	margin-right: rem(32);
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	&:hover {
		box-shadow: 1px 1px 20px 0 hsl(0deg 0% 44% / 45%);
	}
	&__img-wrap {
		@include block(416, 223);
		display: block;
		border-radius: 8px 8px 0px 0px;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $gray-100;
		border-radius: 0px 0px 8px 8px;
		padding: rem(24);
		flex-grow: 1;
		.h5 {
			flex-grow: 1;
			margin-bottom: rem(20.006);
			font-weight: 600;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	&__tags-row {
		--bs-gutter-x: 8px;
		--bs-gutter-y: 8px;

		margin-bottom: rem(19);
		position: relative;
		z-index: 3;
	}
	&__online {
		position: relative;
		padding: 6.6px 4.9px 5.4px 23px;
		border: 1px solid #C2DCFB;
		border-radius: 2px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $gray-800;
		}
		span {
			position: absolute;
			display: block;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: #3FC755;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
		}
		&--2 {
			span {
				background-color: #F74343;
			}
		}
	}
	&__tag {
		padding: 6.6px 4.9px 5.4px;
		background-color: #C2DCFB;
		border: 1px solid #C2DCFB;
		color: $gray-800;
		border-radius: 2px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
		border-radius: 2px;
		display: flex;
		align-items: center;
	}
	&__bottom-row {
		--bs-gutter-x: #{rem(25)};
	}
	&__date {
		font-size: 10px;
		color: $gray-700;
	}
	&__city {
		display: flex;
		align-items: center;
		font-size: 10px;
		color: $gray-700;
		img {
			flex: 0 0 auto;
			margin-right: 8px;
		}
	}
	&__text {
		line-height: 1.5em;
		color: $gray-700;
		margin-bottom: rem(10);
		font-size: rem(14);
	}
	&--second-variant {
		max-width: rem(304);
		.news-item {
			&__img-wrap {
				--ratio: 179/304;
	
				border-radius: 8px;
			}
			&__tags-row {
				margin-bottom: rem(11);
			}
			// &__tag {
			// 	padding: 1.5px 3.1px 1.5px;
			// }
			&__content {
				background-color: #fff;
				border-radius: 8px;
				padding: rem(26) rem(24) rem(25.5);
				.h5 {
					@extend .h6;
					color: $primary;
					font-weight: 600;
					line-height: 1.5em;
					flex-grow: 0;
				}
			}
			&__text {
				flex-grow: 1;
			}
		}
		&__text {
			flex-grow: 1;
		}
	}
	&--in-row {
		max-width: none;
		margin-right: 0;
		@include media-breakpoint-up(sm) {
			width: 100%;
			flex-direction: row;
			.news-item {
				&__img-wrap {
					--ratio: 179/304;
					min-width: rem(304);
					border-radius: 8px 0 0 8px;
					img {
						height: 100%;
						border-radius: 0;
					}
				}
				&__content {
					border-radius: 0 8px 8px 0;
				}
			}
		}
	}
}

.vacancies-item {
	min-height: rem(291);
	max-width: rem(304);
	margin-right: rem(32);
	padding: rem(24);
	border-radius: 8px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	&__head-row {
		--bs-gutter-x: 6.5px;
		
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(30)};
		}
	}
	&__label {
		display: inline;
		font-size: 11px;
		background-color: rgba(67, 150, 247, 0.2);
		border-radius: 2px;
		color: $gray-800;
		padding: 4.5px 6px;
	}
	&__price {
		font-size: rem(20);
		font-weight: 600;
		color: $primary;
		line-height: 1.2;
	}
	.h5 {
		flex-grow: 1;
		margin-bottom: rem(11);
		letter-spacing: -0.01em;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
	&__bottom-row {
		--bs-gutter-x: #{rem(25)};
	}
	&__text {
		font-size: 10px;
		line-height: 1.5em;
	}
}

.labSlide {
	border: 1px solid $gray-400;
	border-radius: 8px;
	max-width: rem(305);
	margin-right: rem(32);
	height: auto;
	display: flex;
	flex-direction: column;
	&__img-wrap {
		@include block(305, 203);
	}
	&__content {
		position: relative;
		padding: rem(24);
		flex-grow: 1;
    display: flex;
    flex-direction: column;
		.h6 {
			line-height: 1.5em;
			margin-bottom: 1.500px;
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		p {
			position: relative;
			z-index: 3;
			font-size: 11px;
			margin-bottom: rem(16);
			line-height: 1.5em;
			flex-grow: 1;
			.detailed {
				@include mt;
				cursor: pointer;
				color: $primary;
				&:hover {
					opacity: .8;
				}
			}
			.moreText {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	&__row {
		--bs-gutter-x: #{rem(15)};

		margin-bottom: rem(8);
		span {
			color: $gray-800;
			font-size: 11px;
			line-height: 1.5em;
			&.active {
				color: $primary;
			}
		}
	}
	&__tags {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};

		position: relative;
		z-index: 3;
	}
	&__tag-col {
		&:nth-child(n+3) {
			display: none;
		}
	}
	&__tag {
		font-size: 10px;
		font-weight: 700;
		padding: 4px 8px;
		background-color: $gray-100;
		color: $primary;
		border-radius: 4px;
		display: inline;
		&:hover {
			color: #fff;
			background-color: $primary;
		}
	}
	&__show-more {
		@include mt;
		display: inline;
		font-size: 10px;
		font-weight: 700;
		padding: 4px 8px;
		background-color: $primary;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		&:hover {
			background-color: $gray-100;
			color: $primary;
		}
		&.hide {
			display: none;
		}
	}
}

.filter {
	&__head {
		--bs-btn-padding-x: #{rem(24)};
		--bs-btn-padding-y: #{rem(7)};
		--bs-btn-font-size: #{rem(16)};
		--bs-btn-font-weight: 700;
		
		width: 100%;
		display: block;
		margin-bottom: rem(16);
		position: relative;
		z-index: 3;
		@include media-breakpoint-up(lg) {
			display: none;
		}
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
	}
	&__body {
		@include media-breakpoint-down(lg) {
			@include mt;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: calc(var(--vh) * 100);
			background-color: #fff;
			z-index: 999;
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(40)}) rem(40) calc(env(safe-area-inset-bottom, 0px) + #{rem(40)});
			transform: translateX(-100%);
			overflow: auto;
			&.active {
				transform: translateX(0);
			}
		}
	}
	&__cross {
		cursor: pointer;
		position: absolute;
		display: block;
		width: 16px;
		height: 16px;
		top: 10px;
		right: 10px;
		&:before, &:after {
			content: '';
			@include a-cent;
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: $gray-700;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__filter-tags {
		--bs-gutter-x: 8px;
		--bs-gutter-y: 8px;
	}

	.dd-group {
		--bs-gutter-y: 8px;
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		&__item {
			@include mt;
			border: 1px solid $gray-400;
			border-radius: 4px;
			// padding: rem(16);
			&.active {
				background-color: #fff;
				box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.12);
				border-radius: 4px;
				border-color: transparent;
				.dd-group__head {
					&:before {
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}
		}
		&__head {
			padding: rem(16);
			cursor: pointer;
			padding-left: rem(48);
			position: relative;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&:before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				width: rem(24);
				height: rem(24);
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17L15 12L10 7' stroke='%231972DB' stroke-width='2'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				left: rem(16);
				top: 50%;
				transform: translateY(-50%);
			}
			p {
				@include mt;
				margin-right: 6px;
				font-size: rem(16);
				font-weight: 600;
				line-height: 1.5em;
				margin-bottom: 0;
				color: $gray-800;
			}
			span {
				font-size: 10px;
				font-weight: 700;
				line-height: 1em;
				padding: 3px 5px;
				background-color: $gray-100;
				border-radius: 4px;
				color: $primary;
				margin-right: auto;
			}
			&:hover {
				p {
					color: $primary;
				}
			}
		}
		&__reset {
			// margin-left: auto;
			font-size: 11.4px;
			line-height: 1.5em;
		}
		&__content {
			padding: 0 rem(16) rem(16) rem(16);
			display: none;
			&.active {
				display: block;
			}
			.search-block {
				margin-bottom: rem(16);
			}
			.custom-input {
				&__input {
					background-size: 14px;
					&:focus {
						box-shadow: none;
						border-color: $primary;
					}
				}
				&__text {
					font-size: rem(14);
				}
			}
		}
		&__chekbox-wrap {
			@extend .custom-scroll;
			--bs-gutter-y: #{rem(14)};
			margin-top: calc(var(--bs-gutter-y) * -1);
			// padding-top: rem(16);
			max-height: rem(321);
			overflow: auto;
			& > * {
				margin-top: var(--bs-gutter-y);
				margin-bottom: 1px;
			}
		}
	}
	.select {
		@include roww('8px', 'm');
		--bs-gutter-y: 8px;
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		&__input-wrap {
			width: 100%;
			max-width: 100%;
			@include media-breakpoint-up(lg) {
				max-width: rem(190);
			}
			@include media-breakpoint-up(xl) {
				max-width: rem(220);
			}
			@include media-breakpoint-up(xxl) {
				max-width: rem(248);
			}
		}
		&__input {
			padding: rem(11.75) rem(36) rem(11.75) rem(12);
		}
	}

	&__btn-row {
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(16)};
		
		margin-bottom: rem(24);
	}
	&__btn {
		width: 100%;
		--bs-btn-padding-x: #{rem(13)};
		--bs-btn-padding-y: #{rem(7)};
		--bs-btn-font-weight: 700;
		--bs-btn-font-size: #{rem(16)};
		box-shadow: 0px 4px 8px rgba(67, 150, 247, 0.47);
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
		&:hover {
			box-shadow: 0px 4px 8px transparent;
		}
		&--outline {
			box-shadow: 0px 4px 8px rgba(67, 150, 247, 0.47);
		}
	}
	&__row {
		align-items: flex-end;
		margin-bottom: rem(30);
		.h4 {
			margin-bottom: 0;
		}
	}
	&__reset {
		font-size: 11px;
		line-height: 1.5em;
	}

	&__btns-row {
		--bs-gutter-x: #{rem(8)};
		--bs-gutter-y: #{rem(8)};
	}
	&__link {
		--bs-btn-padding-x: #{rem(15.3)};
    --bs-btn-padding-y: #{rem(7.125)};
		--bs-btn-font-size: #{rem(16)};
		--bs-btn-font-weight: 600;
		--bs-btn-border-color: rgba(67, 150, 247, 0.2);
		--bs-btn-hover-color: #{$primary};
		--bs-btn-hover-bg: rgba(67, 150, 247, 0.2);
    --bs-btn-hover-border-color: rgba(67, 150, 247, 0.2);

		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
	}
}

.logoSlide {
	max-width: rem(304);
	margin-right: rem(32);
	&__img-wrap {
		@include block(304, 145);
	}
}

.pagination-wrapper {
	.page-numbers {
		margin-bottom: 0;
	}
	ul {
		@include roww('8px', 'm');
		li {
			display: flex;
			align-items: center;
			.page-numbers {
				@include mt;
				cursor: pointer;
				color: #000;
				line-height: 1.5em;
				padding: 4px 7px;
				border: 1px solid $gray-400;
				border-radius: 4px;
				min-width: 32px;
				text-align: center;
				&.current, &:hover {
					background-color: rgba(67, 150, 247, 0.2);
					border-color: $primary;
					color: #000;
				}
			}
			.dots {
				align-self: flex-end;
			}
		}
	}
}

.banner {
	position: relative;
	background-color: rgba(67, 150, 247, 0.2);
	border-radius: 8px;
	padding: rem(20) rem(25) rem(20);
	z-index: 1;
	overflow: hidden;
	margin-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(38);
		padding: rem(42) rem(49) rem(47);
	}
	h1 {
		margin-bottom: rem(27);
		max-width: rem(566);
		color: $gray-800;
	}
	p {
		color: $gray-800;
		line-height: 1.5em;
		margin-bottom: rem(30);
		max-width: rem(584);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(74);
		}
	}
	&__link {
		display: flex;
		border: 1px solid $primary;
		border-radius: 4px;
		padding: rem(16);
		max-width: rem(510);
		background-color: #fff;
		flex-direction: column;
		align-items: flex-start;
		@include media-breakpoint-up(sm) {
			align-items: center;
			flex-direction: row;
		}
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		}
		img {
			flex: 0 0 auto;
			width: 100%;
			max-width: rem(55);
			margin-bottom: rem(10);
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
				margin-right: rem(16);
			}
		}
	}
	&__text {
		color: $gray-700;
		line-height: 1.5em;
		font-size: rem(14);
	}
	.img {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		opacity: .5;
		width: 100%;
		max-width: rem(689);
		@include media-breakpoint-up(lg) {
			opacity: .6;
		}
		@include media-breakpoint-up(xl) {
			opacity: .8;
		}
		@include media-breakpoint-up(xxl) {
			opacity: 1;
		}
		&--2 {
			max-width: rem(498);
			bottom: -79px;
		}
	}
	.bg {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 100%;
		z-index: -2;
		width: 100%;
		max-width: rem(641);
		object-fit: cover;
		display: none;
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}
	&--tourism {
		background: linear-gradient(90deg, rgba(139,189,247,1) 0%, #7bb5fa 100%);
		.banner__link {
			background-color: #fff;
			border-color: transparent;
		}
	}
}

.call-back {
	background-color: #fff;
	border: 1px solid $gray-400;
	border-radius: 8px;
	padding: rem(20);
	@include media-breakpoint-up(md) {
		padding: rem(32);
	}
	.section-title {
		margin-bottom: rem(32);
		h4 {
			font-weight: 700;
			line-height: 1.2em;
			color: #252525;
			margin-bottom: 0;
		}
		p {
			color: #252525;
			margin-bottom: 0;
		}
	}
	.form-wrap {
		&__row {
			margin-bottom: rem(32);
		}
		&__btn {
			margin-bottom: rem(32);
		}
	}
}

.upload-field {
	&__title {
		position: relative;
		top: unset;
		padding-bottom: rem(16);
		margin-bottom: 0;
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		--bs-gutter-y: #{rem(16)};
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		@include media-breakpoint-up(md) {
			flex-direction: row;
			align-items: center;
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(24)};
    --bs-btn-padding-y: #{rem(15)};
		--bs-btn-font-size: #{rem(16)};
    --bs-btn-font-weight: 700;
		--bs-btn-color: #{$primary};
    --bs-btn-bg: rgba(67, 150, 247, 0.2);
    --bs-btn-border-color: transparent;
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
	}
	&__input-wrap {
		@include media-breakpoint-up(md) {
			margin-right: rem(20);
		}
	}
	&__file-name {
		line-height: calc(20 / 16);
	}
}
.input-upload {
	display: none;
}

.writeUsBanner {
	&__slider {
		background-image: radial-gradient(65.78% 257.08% at 17.22% 29.38%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%);
		background-color: #E8F2FF;
		border-radius: 8px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.img {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		max-width: 100%;
		height: auto;
		z-index: -1;
		pointer-events: none;
	}
	&__slide {
		padding: rem(24);
		@include media-breakpoint-up(md) {
			padding: rem(37) rem(53) rem(88) rem(48);
		}
		.h2 {
			max-width: rem(470);
			margin-bottom: rem(16);
			color: $gray-800;
		}
		p {
			color: $gray-800;
			margin-bottom: rem(24);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(64);
			}
		}
	}
	&__control-wrap {
		position: relative;
		display: flex;
		width: auto;
		align-items: center;
		flex-wrap: wrap;
		z-index: 2;
		padding-left: rem(24);
		padding-right: rem(24);
		padding-bottom: rem(24);
		@include media-breakpoint-up(md) {
			position: absolute;
			left: rem(48);
			bottom: rem(48);
			padding: 0;
		}
		.swiper-button-hand, .swiper-pagination {
			position: static;
		}
		.swiper-button-hand {
			--swiperArrowSize: #{rem(24)};
			--swiperBorderColorDef: #{$primary};
			--swiperColorDef: #{$primary};
			--swiperBgDef: transparent;
			--swiperBorderColorDefHover: #{$primary};
			--swiperBgDefHover: #{$primary};
			--swiperColorDefHover: #{$white};

			flex: 0 0 auto;
			border-width: 1px;
			.icon {
				font-size: rem(16);
			}
			&-prev {
				margin-right: 12px;
				@include media-breakpoint-up(sm) {
					margin-right: rem(42);
				}
			}
		}
		.swiper-pagination {
			width: auto;
			margin-left: rem(40);
			&-bullet {
				--swiper-pagination-bullet-horizontal-gap: 8px;

				width: 6px;
				height: 6px;
				background-color: $primary;
				border-radius: 16px;
				min-width: 6px;
				&-active {
					min-width: 25px;
				}
			}
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(24)};
		--bs-btn-padding-y: #{rem(7.75)};
		--bs-btn-font-size: #{rem(16)};
    --bs-btn-font-weight: 700;
		
		box-shadow: 0px 4px 8px rgba(67, 150, 247, 0.47);
		width: 100%;
		margin-bottom: rem(16);
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
		@include media-breakpoint-up(md) {
			width: auto;
			margin-bottom: 0;
			margin-right: rem(36);
		}
	}
	&__img-wrap {
		@include roww('32px', 'm');
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(72)};
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}