 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.logo {
	display: flex;
	align-items: center;
	.text {
		margin-right: rem(28);
		width: 100%;
		max-width: 148px;
	}
	.img {
		flex: 0 0 auto;
		width: 100%;
		max-width: 55px;
	}
}

.slider-item {
	max-width: rem(416);
	margin-right: rem(32);
	height: auto;
	display: flex;
	flex-direction: column;
	&__img-wrap {
		@include block(416, 223);
		display: block;
		border-radius: 8px 8px 0px 0px;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: #EEF3F7;
		border-radius: 0px 0px 8px 8px;
		padding: rem(24);
		flex-grow: 1;
		.h5 {
			flex-grow: 1;
			margin-bottom: rem(11);
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	&__tags-row {
		--bs-gutter-x: 8px;

		margin-bottom: rem(16);
	}
	&__online {
		position: relative;
		padding: 5.9px 6px 5.5px 23px;
		border: 1px solid #C2DCFB;
		border-radius: 2px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
		span {
			position: absolute;
			display: block;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: #3FC755;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__tag {
		padding: 5.9px 6px 5.5px 6px;
		background-color: #C2DCFB;
		border: 1px solid #C2DCFB;
		color: $gray-800;
		border-radius: 2px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
	}
	&__bottom-row {
		--bs-gutter-x: #{rem(25)};
	}
	&__date {
		font-size: 10px;
		color: $gray-700;
	}
	&__city {
		display: flex;
		align-items: center;
		font-size: 10px;
		color: $gray-700;
		img {
			flex: 0 0 auto;
			margin-right: 8px;
		}
	}
}