include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin logo(img=true)
	+b.logo(href="#")
		+img('img/svg/logo-text.svg').text
		if img
			+img('img/logo-img.png').img

mixin sliderItem(img, title, date, city, customClass, ...tags)
	+b.slider-item(class= customClass)
		+e.img-wrap(href="#")
			+img(`img/${img}`, 'bg')
		+e.content
			+e.tags-row.row
				.col-auto
					+e.online
						span
						| Online
				each tag in tags
					.col-auto
						+e.tag!= tag
			a.h5(href="#")!= title
			+e.bottom-row.row
				.col-auto
					+e.date!= date
				.col-auto
					+e.city
						+img('img/svg/pin.svg')
						!= city
