// start .sEventBanner
.sEventBanner {
	--sPT: #{rem(0)};
	--sPB: #{rem(39.500)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	&__wrap {
		position: relative;
		background-color: $primary;
		border-radius: 8px;
		padding: rem(20);
		z-index: 1;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			padding: rem(40);
		}
	}
	&__img-wrap {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		max-width: rem(983);
		z-index: -1;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: linear-gradient(90deg, #1972DB 0%, rgba(25, 114, 219, 0) 68.73%);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__headline-row {
		--bs-gutter-x: #{rem(46)};
		--bs-gutter-y: #{rem(16)};

		margin-bottom: rem(16);
	}
	&__headline {
		display: flex;
		align-items: center;
		color: #fff;
		font-size: rem(14);
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			margin-right: rem(12);
		}
	}
	h3 {
		color: #fff;
		line-height: 1.2em;
		margin-bottom: rem(13);
		max-width: rem(660);
	}
	&__tags-row {
		--bs-gutter-x: 9px;
		--bs-gutter-y: 8px;

		margin-bottom: rem(56);
		position: relative;
		z-index: 3;
	}
	&__online {
		position: relative;
		padding: 6.6px 4.9px 5.4px 23px;
		border: 1px solid #C2DCFB;
		border-radius: 4px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		&:hover {
			background-color: #fff;
			color: $gray-700;
		}
		span {
			position: absolute;
			display: block;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: #F74343;
			left: 6px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__tag {
		padding: 6.6px 6.6px 5.4px;
		background-color: #fff;
		border: 1px solid #fff;
		color: $gray-700;
		border-radius: 2px;
		font-size: 11px;
		line-height: 1;
		height: 100%;
		border-radius: 2px;
		display: flex;
		align-items: center;
	}
	&__btn {
		--bs-btn-padding-x: #{rem(24)};
		--bs-btn-padding-y: #{rem(7)};
		--bs-btn-font-size: #{rem(16)};
		--bs-btn-font-weight: 700;
		
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
	}
	&--2 {
		.sEventBanner {
			&__row {
				--bs-gutter-x: 0;
			}
			&__left-side {
				display: flex;
				flex-direction: column;
				background-color: $gray-100;
				border-radius: 8px;
				overflow: hidden;
				padding: rem(20);
				height: 100%;
				@include media-breakpoint-up(lg) {
					padding: rem(40);
				}
			}
			&__img-col {
				border-radius: 8px;
				overflow: hidden;
				@include media-breakpoint-up(lg) {
					max-width: rem(640);
				}
			}
			&__headline {
				color: $gray-700;
				.icon {
					color: $primary;
				}
			}
			&__tags-row {
				margin-bottom: auto;
			}
			&__online {
				color: $gray-800;
			}
			&__tag {
				color: $gray-700;
				background-color: rgba(67, 150, 247, 0.2);
				border-color: transparent;
				&:hover {
					border-color: rgba(67, 150, 247, 0.2);
					background-color: transparent;
				}
			}
			&__bottom-row {
				--bs-gutter-x: #{rem(16)};
				--bs-gutter-y: #{rem(16)};

				padding-top: rem(20);
				align-items: center;
			}
			&__share {
				display: flex;
				align-items: center;
				.ya-share2 {
					margin-left: rem(24);
				}
			}
			&__simple-btn {
				--bs-btn-padding-x: #{rem(0)};
				--bs-btn-padding-y: #{rem(7)};
				--bs-btn-font-size: #{rem(16)};
				--bs-btn-font-weight: 700;
				--bs-btn-color: #0096EB;
				
				@include media-breakpoint-up(xxl) {
					--bs-btn-font-size: #{rem(16)};
					--bs-btn-padding-x: #{rem(24)};
				}
				@include media-breakpoint-up(xl) {
					--bs-btn-font-size: #{rem(16)};
					--bs-btn-padding-x: #{rem(9)};
				}
			}
			&__organization {
				font-size: rem(14);
				line-height: 1.5em;
				color: $gray-800;
				span {
					color: $gray-700;
				}
			}
		}
		h3 {
			color: $gray-800;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sEventBanner