mixin sCompetencies(data)
	// start sCompetencies
	+b.sCompetencies.section#sCompetencies&attributes(attributes)
		.container
			+e.wrap
				.h1 Компетенции в науке
				p Решайте задачи научно-технологического развития России вместе с&nbsp;учеными, исследователями, инженерами и&nbsp;специалистами
				+e.btn-wrap
					+e.btn.btn.btn-light(href="https://scienceid.net/site/competence" target="_blank") Оцени свои компетенции
					//- +e.btn--outline.btn.btn-outline-light(href="#") Узнать больше
				+img('img/sCompetencies-img-1.png')
	// end sCompetencies

mixin sCompetencies2(data)
	// start sCompetencies
	+b.sCompetencies--2.section#sCompetencies&attributes(attributes)
		.container
			+e.wrap.bg-wrap
				h1 Компетенции в науке
				p Раздел &laquo;Компетенции в&nbsp;науке&raquo; стартовал в&nbsp;апреле 2021&nbsp;года, объявленного Президентом Российской Федерации Годом науки и&nbsp;технологий.
				p Основой данного раздела служит &laquo;Модель компетенций в&nbsp;научной сфере и&nbsp;сопряженных сферах деятельности&raquo;, разработанная Координационным советом по&nbsp;делам молодежи в&nbsp;научной и&nbsp;образовательной сферах Совета при Президенте Российской Федерации по&nbsp;науке и&nbsp;образованию совместно с&nbsp;Ассоциацией классических университетов России (АКУР) при поддержке Фонда президентских грантов.
				+img('img/sCompetencies-img-2.jpg', 'bg').picture-bg
				+img('img/sCompetencies-img-3.png').img
			+e.text Раздел поможет начинающим и&nbsp;молодым исследователям определить набор компетенций, который будет им&nbsp;необходим для успешного профессионального развития в&nbsp;научной сфере и&nbsp;в&nbsp;других сферах деятельности, требующих определенного исследовательского потенциала, а&nbsp;также сориентироваться в&nbsp;возможных инструментах формирования и&nbsp;развития тех или иных компетенций. В&nbsp;личном кабинете пользователя ScienceID.net существует возможность оценить свои компетенции и&nbsp;получить рекомендации для эффективного профессионального развития.
	// end sCompetencies