mixin sCompetencies(data)
	// start sCompetencies
	+b.sCompetencies.section#sCompetencies&attributes(attributes)
		.container
			+e.wrap
				.h1 Компетенции в науке
				p Решайте задачи научно-технологического развития России вместе с&nbsp;учеными, исследователями, инженерами и&nbsp;специалистами
				+e.btn-wrap
					+e.btn.btn.btn-light(href="#") Оцени свои компетенции
					+e.btn--outline.btn.btn-outline-light(href="#") Узнать больше
				+img('img/sCompetencies-img-1.png')
	// end sCompetencies